In [4]:
import pandas as pd
import subprocess

In [3]:
cities = pd.read_csv(r'C:\Users\dskcy\UEInfo\PSL_EXTRACTS\assets\city_state_file_names.csv')
cities

      filename  citystatename   cityname statename airshedsize
0    anantapur  Anantapur, AP  Anantapur        AP     30 x 30
1      chitoor    Chitoor, AP    Chitoor        AP     30 x 30
2        eluru      Eluru, AP      Eluru        AP     30 x 30
3       kadapa     Kadapa, AP     Kadapa        AP     30 x 30
4      kurnool    Kurnool, AP    Kurnool        AP     30 x 30
..         ...            ...        ...       ...         ...
99    kashipur   Kashipur, UK   Kashipur        UK     30 x 30
100  rishikesh  Rishikesh, UK  Rishikesh        UK     30 x 30
101    asansol    Asansol, WB    Asansol        WB     60 x 40
102     haldia     Haldia, WB     Haldia        WB     40 x 40
103    kolkata    Kolkata, WB    Kolkata        WB     60 x 60

[104 rows x 5 columns]

In [6]:
for city in cities['filename']:
    print("Producing animation for: ", city)
    subprocess.run(["python", "animation_timeseries.py", "era5", "temp2m", city])

Producing animation for:  anantapur
Producing animation for:  chitoor
Producing animation for:  eluru
Producing animation for:  kadapa
Producing animation for:  kurnool
Producing animation for:  nellore
Producing animation for:  ongole
Producing animation for:  rajahmundry
Producing animation for:  srikakulam
Producing animation for:  vijayawada
Producing animation for:  vishakhapatnam

KeyboardInterrupt

In [7]:
subprocess.run(["python", "animation_timeseries.py", "era5", "temp2m", "anantapur"])

CompletedProcess(args=['python', 'animation_timeseries.py', 'era5', 'temp2m', 'anantapur'], returncode=1)